<!-- JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

<!-- Bespoke.js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bespoke.js/1.0.0/bespoke.min.js"></script>
<script src="js/bespoke-classes.min.js"></script>
<script src="js/bespoke-keys.min.js"></script>
<script src="js/bespoke-progress.min.js"></script>
<script src="js/bespoke-touch.min.js"></script>
<script src="js/bespoke-theme-cube.min.js"></script>

<!-- Custom -->
<script src="js/custom.js"></script>
