<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <header>
        <a href="https://github.com/{{ page.githubuser }}" target="_blank" class="githubuser">github.com/{{ page.githubuser }}</a>
    </header>

    <a href="https://github.com/aw/portfolio" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 101" src="forkme_right_darkblue_121621.png"></a>
    <div id="main">
      {{ content }}
    </div>

    <footer>
      <a href="#" role="button" id="arrow-left"><i class="twa twa-arrow-left twa-2x"></i></a>&nbsp;<a href="#" role="button" id="arrow-right"><i class="twa twa-arrow-right twa-2x"></i></a>
    </footer>
    {% include js.html %}
  </body>
</html>
